Code/APP/Pages/Windows/__pycache__/
Code/APP/Pages/Login/__pycache__/__init__.cpython-310.pyc
Code/APP/Pages/Login/__pycache__/back_login.cpython-310.pyc
Code/APP/Pages/Login/__pycache__/config_login.cpython-310.pyc
Code/APP/Pages/Login/__pycache__/ui_login.cpython-310.pyc
Code/APP/Pages/__pycache__/__init__.cpython-310.pyc
